Consumo/Connected Services/ServiceControlProteina/Gretting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://uca.edu.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://uca.edu.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://uca.edu.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProteint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProteintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddProteintResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="goal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listuser">
        <s:complexType />
      </s:element>
      <s:element name="listuserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listuserResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Goal" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Total" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddProtein">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amoun" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProteinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddProteinResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddProteintSoapIn">
    <wsdl:part name="parameters" element="tns:AddProteint" />
  </wsdl:message>
  <wsdl:message name="AddProteintSoapOut">
    <wsdl:part name="parameters" element="tns:AddProteintResponse" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="listuserSoapIn">
    <wsdl:part name="parameters" element="tns:listuser" />
  </wsdl:message>
  <wsdl:message name="listuserSoapOut">
    <wsdl:part name="parameters" element="tns:listuserResponse" />
  </wsdl:message>
  <wsdl:message name="AddProteinSoapIn">
    <wsdl:part name="parameters" element="tns:AddProtein" />
  </wsdl:message>
  <wsdl:message name="AddProteinSoapOut">
    <wsdl:part name="parameters" element="tns:AddProteinResponse" />
  </wsdl:message>
  <wsdl:portType name="GrettingSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProteint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Incrementa un monto al total acumulado</wsdl:documentation>
      <wsdl:input message="tns:AddProteintSoapIn" />
      <wsdl:output message="tns:AddProteintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Agregar Usuario</wsdl:documentation>
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listuser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Lista de Usuario</wsdl:documentation>
      <wsdl:input message="tns:listuserSoapIn" />
      <wsdl:output message="tns:listuserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProtein">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">agregar un monto al total</wsdl:documentation>
      <wsdl:input message="tns:AddProteinSoapIn" />
      <wsdl:output message="tns:AddProteinSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GrettingSoap" type="tns:GrettingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://uca.edu.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProteint">
      <soap:operation soapAction="http://uca.edu.org/AddProteint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://uca.edu.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listuser">
      <soap:operation soapAction="http://uca.edu.org/listuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProtein">
      <soap:operation soapAction="http://uca.edu.org/AddProtein" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GrettingSoap12" type="tns:GrettingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://uca.edu.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProteint">
      <soap12:operation soapAction="http://uca.edu.org/AddProteint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://uca.edu.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listuser">
      <soap12:operation soapAction="http://uca.edu.org/listuser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProtein">
      <soap12:operation soapAction="http://uca.edu.org/AddProtein" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gretting">
    <wsdl:port name="GrettingSoap" binding="tns:GrettingSoap">
      <soap:address location="https://localhost:44325/Gretting.asmx" />
    </wsdl:port>
    <wsdl:port name="GrettingSoap12" binding="tns:GrettingSoap12">
      <soap12:address location="https://localhost:44325/Gretting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>